<div class="container-fluid">
  <!-- #region panel-->
  <div  class="row align-items-center py-1">
    <div  class="col  align-self-left">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn " [ngClass]="{'btn-secondary': !isUpdating, 'btn-dark' : isUpdating, 'text-warning': isUpdating}" (click) = "Update()">Update</button>
      <button type="button" class="btn btn-secondary" (click) = "NewUser()">New</button>
      <button type="button" class="btn btn-secondary">Somthing else</button>
    </div>
  </div>
  </div>
  
  <ng-container *ngFor="let User of Users"> 
    <app-co-woker [User] = "User"  ></app-co-woker>
  </ng-container>
</div>
