<div  class="row align-items-center">
  <!-- #region UserContact-->
  <div  class="col-8  align-self-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Contact</span>
      </div>
      <input type="text" class="form-control" placeholder="Name">
      <input type="text" class="form-control" placeholder="Mail">
      <input type="text" class="form-control" placeholder="Phone">
    
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Button</button>
        <button class="btn btn-outline-secondary" type="button">Button</button>
      </div>
    </div>
  </div>

  <!-- #region ROLES-->
  <div  class="col-4  align-self-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Contact</span>
      </div>
      <input type="text" class="form-control" placeholder="Roles">
    
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Button</button>
        <button class="btn btn-outline-secondary" type="button">Button</button>
      </div>
    </div>
  </div>
</div>