<form [formGroup]="form">
<div  class="row align-items-center">
  <!-- #region UserContact-->
 
  <div class="col-8  align-self-center">
   
      <div class="input-group" >
        <div class="input-group-prepend" >
          <span [id]="User.Id" [ngClass]="{'text-warning': isDeleted || Id.value == '' || Id.value == 'empty',  'bg-dark': isDeleted || Id.value == ''|| Id.value == 'empty'}" class="input-group-text" >Contact</span>
          <span [ngClass]="{'text-warning': isDeleted ,  'bg-dark': isDeleted}" *ngIf="isDeleted" class="input-group-text" id="">Deleted</span>
          <span [ngClass]="{'text-warning': Id.value == '' || Id.value == 'empty' ,  'bg-dark': Id.value == '' || Id.value == 'empty'}" *ngIf="Id.value == '' || Id.value == 'empty'" class="input-group-text" id="">New</span>
        </div>
        <input formControlName="Id" hidden  type="text" class="form-control" placeholder="Id">
        <input [disableControl]="inDisabledState" formControlName="Password" (OnDirectiveChange) = "OnDirectiveChange($event)"  [RemoveSymbols]="[' ']"  type="password" class="form-control" class="form-control bg" [ngClass]="{'is-invalid': Password.invalid, 'is-valid': Password.valid}" placeholder="Password"> <!--[hidden]="User.Id != '' && User.Id != 'empty'"-->
        <!-- disableControl - наша директива, применяется для блокирования форм контролов почему так см в саму директиву-->
        <input [disableControl]="inDisabledState" formControlName="Email" (OnDirectiveChange) = "OnDirectiveChange($event)" [RemoveSymbols]="[' ']" type="email" class="form-control bg" [ngClass]="{'is-invalid': Email.invalid, 'is-valid': Email.valid, 'bg-warning' : Email.pending && Email.dirty}" placeholder="Email">
        <input [disableControl]="inDisabledState" formControlName="UserName" (OnDirectiveChange) = "OnDirectiveChange($event)" [RemoveSymbols]="[' ']" type="text" class="form-control bg"  [ngClass]="{'is-invalid': UserName.invalid, 'is-valid': UserName.valid, 'bg-warning' : UserName.pending && UserName.dirty}" placeholder="UserName" aria-describedby="UserNameHelpBlock">
        <!-- разбивает строку инпутов не выйдет так. Пока просто подкрасим сам инпут без доп надписей
        <div class="input-group-append"> 
          <small *ngIf="!inDisabledState && UserName.pending" id="UserNamePendingBlock" class="form-text text-muted">
            Checking for uniqness
          </small>
        </div>
        <div class="invalid-feedback">
          Your login must be uniq.
        </div>
        -->

        <input [disableControl]="inDisabledState" formControlName="PhoneNumber" (OnDirectiveChange) = "OnDirectiveChange($event)" [RemoveSymbols]="[' ', '-', '\\)', '\\(', '\\+']" type="tel" class="form-control bg" [ngClass]="{'is-invalid': PhoneNumber.invalid, 'is-valid': PhoneNumber.valid, 'bg-warning' : PhoneNumber.pending && PhoneNumber.dirty}"  placeholder="PhoneNumber">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click) = "ChangeOrUndo()">
            <i  class="fas" [ngClass]="{'fa-pen': inDisabledState,
                                        'fa-undo': !inDisabledState}">
            </i>
          </button>
         
          <button [disabled]="inDisabledState" class="btn btn-outline-secondary" type="button" (click)="MarkDeleted()">
              <i class="fas fa-trash"></i>
          </button>
          <button [disabled]="inDisabledState" class="btn btn-outline-secondary" type="button" (click)="SaveChanges()" >
              <i class="fas fa-tablet-alt"></i>
          </button>


        </div>
      </div>
  
  </div>

  <!-- #region ROLES-->
  <div  class="col-4  align-self-center">
    <div [hidden] = "!inDisabledStateRoles" class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Roles</span>
      </div>
      <input disabled type="text" class="form-control" placeholder="Roles" [value]="User.Roles.toString()">
    
      <div class="input-group-append">
          <button [disabled]="inDisabledState" class="btn btn-outline-secondary" type="button" (click)="SwichDisableStateRoles()">
              <i class="fas fa-pen"></i>
          </button>
       </div>
    </div>
    
    <co-woker-roles *ngIf="!inDisabledStateRoles" 
                    [Id]="User.Id" 
                    [Roles]="User.Roles"
                    (Undo) = "SwichDisableStateRoles()"
                    (Save) = "OnSaveRoleChanges($event)"
                    
                    ></co-woker-roles>
  </div>
</div>
</form>
