<div class="container form-hait-defoult">
  <div class="row form-hait-inherit border border-dark bg bg-dark">
    <!-- PANNEL COL  -->
    <div class="form-hait-inherit p-0 " [ngClass]="{'col-auto': !isExpanded, 'col-2' : isExpanded}">

      <div class=" d-flex flex-column  form-hait-inherit form-width-inherit  bg bg-dark">
        <!-- toggle button  -->
        <nav class="navbar form-width-inherit align-items-start justify-content-end bg-dark navbar-dark  border-bottom border-secondary">
          <div class="nav-item">
            <button class="navbar-toggler" type="button" (click)="Expanded()"> f </button>
          </div>
        </nav>

        <!-- action buttons  -->
        <nav  class="navbar form-hait-inherit-35  form-width-inherit scrollable align-items-start justify-content-stretch  navbar-dark px-0 border-bottom border-secondary">
          <ul  class="navbar-nav px-0 form-width-inherit ">
            <li *ngFor="let item of [1,2,3]" class="nav-item form-width-inherit">
              <button class="btn btn-dark form-width-inherit px-0">Act {{item}}</button>
            </li>
          </ul>
        </nav>

        <!-- navigations  -->
        <nav class="navbar flex-grow-1 form-hait-inherit-50 form-width-inherit scrollable  align-items-start justify-content-center bg-dark navbar-dark  px-0 border-bottom border-secondary">
          <ul class="navbar-nav form-width-inherit ">
            <li *ngFor="let item of [1,2,3,4,5]" class="nav-item ">
              <span class="nav-link pl-4" role="button" (click)="ListExpanded()">{{ itemName }} </span>
              <ul *ngIf="isListExpanded" class="navbar-nav d-flex ">
                <li class="nav-item  d-flex justify-content-end">
                  <span class="nav-link pr-1" href="#">sub1</span>
                </li>
                <li class="nav-item  d-flex justify-content-end">
                  <span class="nav-link pr-1" href="#">sub2</span>
                </li>
              </ul>
            </li>
          </ul>
        </nav>

        <!-- Info block  -->
        <nav  class="navbar flex-grow-1 form-hait-inherit-35 form-width-inherit scrollable  align-items-start justify-content-center bg-dark navbar-dark py-1 px-0 border-bottom border-secondary">
            <ul [hidden]="!isExpanded" class="list-group form-width-inherit  justify-content-center p-1">
                <li *ngFor="let item of [1]" class="list-group-item infoblock  p-1">
                    <div class="alert alert-warning p-1 m-0 orm-hait-inherit form-width-inherit" role="alert">
                        A simple warning alert—check it out!
                    </div>
                </li>
             </ul>
        </nav>  

         <!-- little buttons  -->
         <div  class=" bg bg-dark d-flex justify-content-between" [ngClass]="{'flex-column': !isExpanded}" role="group">
          <button type="button" class="btn btn-dark form-width-inherit">B1</button>
          <button type="button" class="btn btn-dark form-width-inherit">B1</button>
          <button type="button" class="btn btn-dark form-width-inherit">B3</button>
        </div>
     
      </div>

 
    </div>
    
    
    
    <!-- BODY COL  -->
    <div class=" form-hait-inherit p-0 d-flex flex-column   bg-amber-50" [ngClass]="{'col': !isExpanded , 'col-10' : isExpanded}">
    
      <!-- filters  -->
      <div class="row py-1 mx-0  w-100">
        <div class="col-auto d-flex  align-items-start justify-content-between px-0 w-100">
          <filter-input class="m-1" FilterName="Name" (FilterChagedEmiter)="OnFilterChanged($event)" ></filter-input>
          <filter-input class="m-1" FilterName="Email" (FilterChagedEmiter)="OnFilterChanged($event)" ></filter-input>
          <filter-input class="m-1" FilterName="Phone" (FilterChagedEmiter)="OnFilterChanged($event)" ></filter-input>  
          <filter-input class="m-1" FilterName="ID" (FilterChagedEmiter)="OnFilterChanged($event)" ></filter-input>  
          
        </div>
      </div>


      
      <div class="row align-items-start mx-0   w-100">
        <!-- table  -->
        <div class="col-10  d-flex flex-column align-items-start justify-content-between px-0 w-100">
          <ng-container *ngFor="let LicenseUserID of licenseUsersFiltered.UserKeys "> 
            <app-license class="px-1 " [LicenseUserData]="licenseUsersFiltered.UserState[LicenseUserID]" [LicenseUserID]="LicenseUserID" (LicenseUserChangedEmitter)="OnLicenseUserChanged($event)"></app-license>
          </ng-container>
        
        </div>
        <!-- info panel -->
        <div class="col-2  d-flex flex-column align-items-start justify-content-between px-1 w-100">
          
          <div class="card w-100 font-s-70 mb-1">
            <div class="card-header text-white bg-secondary py-1">
              License 1 info: 
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item py-2">exp: 2019.03.12</li>
              <li class="list-group-item py-2">Demo: no</li>
              <li class="list-group-item py-2">Name: test  </li>
            </ul>
          </div>

          <div class="card w-100 font-s-70">
            <div class="card-header text-white bg-secondary py-1">
              License 2 info: 
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item py-2">exp: 2019.03.12</li>
              <li class="list-group-item py-2">Demo: yes</li>
              <li class="list-group-item py-2">Name: demo UNF  </li>
            </ul>
          </div>

        </div>

      </div>      
      

    </div>
  
  </div>
</div>
