<div class="container form-hait-defoult">
  <div class="row form-hait-inherit border border-dark ">
    <div class=" form-hait-inherit p-0" [ngClass]="{'col-auto': !isExpanded, 'col-2' : isExpanded}">

      <div class=" d-flex flex-column form-hait-inherit">

        <nav class="navbar form-width-inherit  align-items-start bg-dark navbar-dark form-hait-inherit ">


          <ul class="navbar-nav form-width-inherit">
            <div class="nav-item">
              <button class="navbar-toggler" type="button" (click)="Expanded()"> f </button>
            </div>

            <li class="nav-item ">
              <span class="nav-link" role="button" (click)="ListExpanded()">{{ itemName }} </span>
              <ul *ngIf="isListExpanded" class="navbar-nav d-flex justify-content-end">
                <li class="nav-item  d-flex justify-content-end">
                  <a class="nav-link" href="#">sub1</a>
                </li>
                <li class="nav-item  d-flex justify-content-end">
                  <a class="nav-link" href="#">sub2</a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">{{ itemName }}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">{{ itemName }}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ itemName }}</a>
            </li>
          </ul>
        </nav>

        <div  class="bg bg-dark  btn-group d-flex  align-items-end" [ngClass]="{'flex-column': !isExpanded}" role="group">
          <button type="button" class="btn btn-dark form-width-inherit">B1</button>
          <button type="button" class="btn btn-dark form-width-inherit">B1</button>
          <button type="button" class="btn btn-dark form-width-inherit">B3</button>
        </div>
      </div>
    </div>
    <div class=" form-hait-inherit p-0 d-flex justify-content-center  align-items-center bg bg-warning" [ngClass]="{'col': !isExpanded , 'col-10' : isExpanded}">
      
      <div class="card text-center w-75 h-75 ">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
      
    </div>
  </div>
</div>
